html {
  background-color: grey;
}
body {
  color: white;
}
h1{
  font-family: sans-serif;
  color: white;
}
.firstdiv {
  padding: 10px;
  background-color: black;
}
table, th, td {
  left: auto;
  right: auto;
  border: 1px solid white;
  border-collapse: collapse;
}
