html {
  background-color: grey;
}
body {
  color: white;
}
h1{
  font-family: sans-serif;
  color: white;
}
a{
  color: yellow;
  text-decoration: none;
}
.blocky {
  display:block;
  padding:5px;
}
.headertd {
  width: 33%;
  border: 2px outset red;
}
.header {
  text-align: center;
  margin: auto;
  width: 50%;
  border: 2px outset red;
  background-color: black;
}
table, th, td {
  left: auto;
  right: auto;
  border: 1px solid white;
  border-collapse: collapse;
}
