.sticky{
  position: sticky;
  top:0;
  z-index:100;
}
.header {
  text-align: center;
  width: 100%;
  background-image: url("asdf.jpg");
  border-bottom: 4px outset gray;
}
body {
  color:white;
  background-image: url("5-dots.png");
  background-repeat: repeat;
  background-color: grey;
  margin:0;
  font-family: sans-serif;
}
h1{
  font-family: sans-serif;
  color: white;
  padding: 30px;
  text-align: center;
  text-shadow: 3px 3px 5px purple;
  background-image: url("velvet.jpg");
  background-repeat: repeat;
  background-color: rgb(61, 12, 19);
}
h4{
  padding: 20px;
}
p{
  padding-left: 2%;
  padding-right: 20%;
  padding-bottom: 10px;
  font-family: "Comic Sans MF", "Comic Sans", cursive;
  text-shadow: 3px 3px 5px purple;
}
img{
  padding:0;
  margin:0;
  display:block;
}
a{
  color: yellow;
  text-decoration: none;
}
h3{
  font-family: sans-serif;
  padding: 10px;
  text-shadow: 4px 4px 3px red;
}
table, th, td {
  padding: 5px;
  margin: 0px;
  left: auto;
  right: auto;
  border: 1px solid white;
  border-collapse: collapse;
}
.blocky {
  display:block;
}
.padless{
  padding:0px;
}
.paddy{
  padding-left: 20px;
  padding-right: 20px;
}
.fullwide{
  width:100%;
}
.borderless{
  border: 0px;
}
.emojiepoint{
  list-style-type: "\1F393";
}
.center{
  text-align: center;
}